citation_key,year,claim,finding,measure/effect,relevance,doi
{{KEY1}},{{YEAR1}},"{{CLAIM1}}","{{FINDING1}}","{{MEASURE1}}","{{RELEVANCE1}}",{{DOI1}}
{{KEY2}},{{YEAR2}},"{{CLAIM2}}","{{FINDING2}}","{{MEASURE2}}","{{RELEVANCE2}}",{{DOI2}}
